# Временные файлы Rust
/target/

# Кэшированные зависимости Node.js
/node_modules/

# Личные ключи и секретные файлы
*.key
*.pem
*.json

# Другие временные файлы
*.log
*.tmp
*.bak
.aider*
*.log
*.bak
*.save
enrg.db
oracle/node_modules/
!package.json
